<section id="homeContainer">
  <section id="homepageFeed">
    <section id="feedHeader">
      <h2>Talk about SDG!</h2>
    </section>

    <section id="filter">
      <section id="expertiseField">
        <label for="areaOfExpertise">Area of Expertise* </label>
        <select
          formControlName="areaOfExpertise"
          id="areaOfExpertise"
          type="text"
        >
          <option
            *ngFor="let expertise of expertises; let itemIndex = index"
            [selected]="itemIndex == 0"
            [disabled]="itemIndex == 0"
          >
            {{ expertise }}
          </option>
        </select>
      </section>

      <section id="sdgField">
        <label for="sdg">SDG* </label>
        <select formControlName="sdg" id="sdg" type="text">
          <option
            *ngFor="let sdg of sdgItems | keyvalue; let itemIndex = index"
            [selected]="itemIndex == 1"
            [disabled]="itemIndex == 1"
          >
            {{ sdg.key }}
          </option>
        </select>
      </section>
    </section>

    <section id="posts">
      <h2 id="noPostTitle" *ngIf="emptyPosts">No posts available</h2>
      <ul id="postList" *ngIf="!emptyPosts">
        <li class="postItem" *ngFor="let post of posts">
          <section class="postCreator">
            <img class="creatorImg" src="../../../assets/icon.png">
            <p class="postUserName">@{{ post.user!.username }}</p>
            <p class="postUserExpertise">{{ post.user!.areaOfExpertise }}</p>
          </section>
          <section class="postContent">
            <h2 class="postTitle" [ngStyle]="{'background-color': sdgItem[post.sdgId][1]}">{{ post.title }}</h2>
            <p class="postDescription">{{ post.description }}</p>
            <p class="postSdg" [ngStyle]="{'background-color': sdgItem[post.sdgId][1]}">{{ sdgItem[post.sdgId][0] }}</p>
            <p class="postExpertise">Expertise: {{ post.areaOfExpertise }}</p>
            <p class="postDate">Posted: {{ splitDate(post.createdAt!) }}</p>
            <button class="quizButton">Take quiz</button>
          </section>
        </li>
      </ul>
    </section>
  </section>
</section>
