#feedHeader {
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.5));
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #183568;
    padding: 1rem;
    border-radius: 1rem;
    width: 99%;
}

#feedHeader h2 {
    color: #fff;
    margin-bottom: 0;
}

#homepageFeed {
    width: 55%;    
    margin-left: 4rem;
    margin-right: 3rem;
    float: right;
}

#newsArticles {
    height: 800px;
    overflow-y: scroll;
}

#newsArticles::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 10px;
    background-color: #e11384;
}

#newsArticles::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 10px;
    background-color: #D9D9D9;
    margin: 10px;
}

#newsArticles::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
}

#sdgImg {
    width: 80px;
    border-radius: 10px;
    margin-left: 0.5rem;
}
#image {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#newsList {
    list-style: none;
}

#newsItem {
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 1rem;
    height: 150px;
}

#newsLink {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.postDate {
    color: #183568;
    font-weight: 500;
}

#newsContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    margin-top: 1rem;
}

#titleDescription {
    display: flex;
    flex-direction: column;
    align-items: start;
}